[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "zdelta"]
	path = zdelta
	url = https://github.com/snej/zdelta
[submodule "src/HDiffPatch"]
	path = src/HDiffPatch
	url = https://github.com/sisong/HDiffPatch
